<% include shared/header %>

    <h1><%= title %></h1>
    <p>Welcome to <%= message %></p>
    <p>This application is being built in class at Georgian College during the Winter 2018 Semester for COMP2106 Advanced Server-Side Scripting.

        The site runs on Node.js, Express.js, MongoDB, Mongoose, and Twitter Bootstrap. Database hosting is provided by mlab.com.</p>
<% include shared/footer %>