<% include ../shared/header.ejs %>

<h1>Manufacturer Details</h1>

<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="name">Name: *</label>
        <input name="name" id="name" required value="<%= make.name %>" />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="country">Country: *</label>
        <input name="country" id="country" required value="<%= make.country %>" />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="yearFounded">Year Founded: *</label>
        <input name="yearFounded" id="yearFounded" required type="number" min="1900" value="<%= make.yearFounded %>" />
    </fieldset>

    <button class="offset-2 btn btn-primary">Save</button>
</form>

<% include ../shared/footer.ejs %>
